.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: #282c34;
}
.App-logo {
  height: 20vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1.5s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 70vh;
}

.bold-btn {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  margin: 1rem 0.4rem;
}

.bold-btn:hover {
  filter: brightness(85%);
  box-shadow: 0px 1px 0px 1px whitesmoke;
}

h2 {
  color: burlywood;
}

h6 {
  margin: 5px;
  font-size: 14px;
  color: #61dafb;
}

button {
  margin: 3px;
  padding: 3px;
  border-radius: 10px;
}

button:hover {
  /* cursor: progress; // COOL */
  border: 2px solid black;
}